# Arithmetic and Variables

## Printing

In [ ]:
print("Welcome to Data Analysis with Python Training")

Welcome to Data Analysis with Python Training

## Arithmetic

In [ ]:
print(5+2)

7

In [ ]:
print(5-2)

3

We can not only add or subtract but can do many other arithmetic operations:

<table>
<tr>
  <td>Operation</td>
  <td>Symbol</td>
  <td>Example</td>
</tr>

<tr>
  <td>Addition</td>
  <td>+</td>
  <td>1+2=3</td>
</tr>
<tr>
  <td>Subtract</td>
  <td>-</td>
  <td>2-1=1</td>
</tr>
<tr>
  <td>Multiplication</td>
  <td>*</td>
  <td>1*2=4</td>
</tr>
<tr>
  <td>Division</td>
  <td>/</td>
  <td>10/2=5</td>
</tr>
<tr>
  <td>Exponent</td>
  <td>**</td>
  <td>3**2=9</td>
</tr>
</table>

Python follows the <b>PEMDAS</b> rule. <br />

P - Parenthesis <br />
E - Exponent <br />
M - Multiplication <br />
D - Division <br />
A - Addition <br />
S - Subtract <br />

In [ ]:
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

## Comments

Comments are used to annotate the code.

In [ ]:
# Multiply 3 by 2

print(3*2)

6

## Variables

In [ ]:
num1 = 5
num2 = 2

print(num1+num2)

7

### Manipulating Variables

In [ ]:
num1 = 10
print(num1)

num1 = 5
print(num1)

num1 = num1+50
print(num1)

10
5
55

In [ ]:
print(num1)
print(num2)

55
2

### Using Multiple Variables

In [ ]:
# Create variables
num_years = 4
days_per_year = 365
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

Include leap year

In [ ]:
# Update to include leap years
days_per_year = 365.25

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126230400.0

## Debugging

In [ ]:
print(hours_per_dy)

NameError: name 'hours_per_dy' is not defined

# Exercise: Arithmetic and Variables

## Question-1: Write a code to print out your name

In [ ]:
print("Md. Maruf Al Hossain Prince")

Md. Maruf Al Hossain Prince

## Question-2: Use comment in your code to make Python ignore it

In [ ]:
# Print your name

name = "Md. Maruf Al Hossain Prince"
print(name)

Md. Maruf Al Hossain Prince

## Question-3: Declare a variable named accidents_per_hour and set it to 15. Now calculate accidents per day and print it.

In [ ]:
accidents_per_hour = 15

accidents_per_day = accidents_per_hour * 24

print(accidents_per_day)

360

# Functions

Functions are used to create code blocks. These code blocks can be repeatedly used.

## Function Defining

In [ ]:
def add(n1, n2):
  total = n1 + n2
  return total

## Function Calling

In [ ]:
num1 = 5
num2 = 10

sum = add(num1, num2)
print(sum)


sum = add(3, 2)
print(sum)

print(add(5, 5))

15
5
10

## A more complex example


Say you are helping your trainer to calculate his weekly paycheck after taxes.

12% of his salary is taken for taxes, and he only takes home 88%, and
he is paid hourly, at a rate of $20/hour.
The function below calculates the paycheck based on the number of hours worked. The function is more complicated than with the first example, because the function has more lines of code and comments.

num_hours = to specify the value for a new variable pay_pretax.
pay_pretax = to specify the value for a new variable pay_aftertax.
Return pay_aftertax variable.

In [ ]:
def get_pay(num_hours):
    # Pre-tax pay, based on receiving BDT 2000/hour
    pay_pretax = num_hours * 2000
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - .12)
    return pay_aftertax

In [ ]:
payment = get_pay(80)

print(payment)

140800.0

In [ ]:
print(f"You will get {payment} BDT")

You will get 140800.0 BDT

## Scope

In [ ]:
print(pay_pretax)

NameError: name 'pay_pretax' is not defined

## Functions with Multiple Arguement

In [ ]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - (tax_bracket/100))
    return pay_aftertax

In [ ]:
bill = get_pay_with_more_inputs(80, 2000, 12)

print(bill)

140800.0

## Functions with no arguement

In [ ]:
def print_msg():
  print("Welcome to Data Analysis with Python Training")
  print("A project of ICT Ministry")

In [ ]:
print_msg()

Welcome to Data Analysis with Python Training
A project of ICT Ministry

# Exercise: Functions

##Question - 1

create a function `get_expected_cost()` that has two arguments:
- `beds` - number of bedrooms
- `baths` - number of bathrooms

It should return the expected cost of a house with that number of bedrooms and bathrooms.  Assume that:
- the expected cost for a house with 0 bedrooms and 0 bathrooms is `80000`.  
- each bedroom adds `30000` to the expected cost
- each bathroom adds `10000` to the expected cost.

For instance,
- a house with 1 bedroom and 1 bathroom has an expected cost of `120000`, and
- a house with 2 bedrooms and 1 bathroom has an expected cost of `150000`.

In [ ]:
def get_expected_cost(beds, baths):
  cost = 80000 + (beds * 30000) + (baths * 10000)
  return cost

## Question 2

You are thinking about buying a home and want to get an idea of how much you will spend, based on the number of bedrooms and bathrooms.  You are trying to decide between four different options:
- Option 1: house with two bedrooms and three bathrooms
- Option 2: house with three bedrooms and two bathrooms
- Option 3: house with three bedrooms and three bathrooms
- Option 4: house with three bedrooms and four bathrooms

Use the `get_expected_cost()` function you defined in question 1 to set `option_1`, `option_2`, `option_3`, and `option_4` to the expected cost of each option.

In [ ]:
option_one = get_expected_cost(2, 3)
option_two = get_expected_cost(3, 2)
option_three = get_expected_cost(3, 3)
option_four = get_expected_cost(3, 4)

print(option_one)
print(option_two)
print(option_three)
print(option_four)

170000
190000
200000
210000

## Question 3

You're a home decorator, and you'd like to use Python to streamline some of your work.  Specifically, you're creating a tool that **you intend to use to calculate the cost of painting a room**.

As a first step, define a function `get_cost()` that takes as input:
- `sqft_walls` = total square feet of walls to be painted
- `sqft_ceiling` = square feet of ceiling to be painted
- `sqft_per_gallon` = number of square feet that you can cover with one gallon of paint
- `cost_per_gallon` = cost (in taka) of one gallon of paint

It should return the cost (in taka) of putting one coat of paint on all walls and the ceiling.  Assume you can buy the exact amount of paint that you need, so you can buy partial gallons (e.g., if you need 7.523 gallons, you can buy that exact amount, instead of needing to buy 8 gallons and waste some paint).  Do not round your answer.

In [ ]:
def get_cost(sqft_walls, sqft_ceiling, sqft_per_gallon, cost_per_gallon):
    cost =
    return cost

SyntaxError: invalid syntax (<ipython-input-45-faf75a586ae2>, line 2)

## Question 4

Use the `get_cost()` function you defined in Question 3 to calculate the cost of applying one coat of paint to a room with:
- 432 square feet of walls, and
- 144 square feet of ceiling.

Assume that one gallon of paint covers 400 square feet and costs 15 tk.  As in Question 3, assume you can buy partial gallons of paint.  Do not round your answer.

In [ ]:
project_cost = get_cost(432, 144, 400, 15)

print(project_cost)

NameError: name 'get_cost' is not defined

## Question 5

Now say you can no longer buy fractions of a gallon.  (For instance, if you need 4.3 gallons to do a project, then you have to buy 5 gallons of paint.)

With this new scenario, you will create a new function `get_actual_cost` that uses the same inputs and calculates the cost of your project.

One function that you'll need to use to do this is `math.ceil()`.  We demonstrate usage of this function in the code cell below.  It takes as a number as input and rounds the number up to the nearest integer.  

Run the next code cell to test this function for yourself.  Make sure `math.ceil()` returns the number you expect.

In [ ]:
import math


print(math.ceil(4.2))
print(math.floor(4.7))

5
4

# Data types

## Integers

Integers are numbers without any fractional part and can be positive (1, 2, 3, ...), negative (-1, -2, -3, ...), or zero (0).

In [ ]:
x = 5
print(x)
print(type(x))

5
<class 'int'>

## Float
Floats are numbers with fractional parts. They can have many numbers after decimal.

In [ ]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

In [ ]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [ ]:
# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

## Boolean
Booleans represent one of two values: `True` or `False`.

In [ ]:
z_one = True
print(z_one)
print(type(z_one))

z_two = False
print(z_two)
print(type(z_two))

True
<class 'bool'>
False
<class 'bool'>

Booleans are used to represent the truth value of an expression. Since `1 < 2` is a true statement, z_three takes on a value of True.

In [ ]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

Similarly, since `5 < 3` is a false statement, z_four takes on a value of False.

In [ ]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

We can switch the value of a boolean by using `not`. So, `not True` is equivalent to `False`, and `not False` becomes `True`.

In [ ]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

# Strings
The string data type is a collection of characters (like alphabet letters, punctuation, numerical digits, or symbols) contained in quotation marks. Strings are commonly used to represent text.

In [ ]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

You can get the length of a string with `len()`. "Hello, Python!" has length 14, because it has 14 characters, including the space, comma, and exclamation mark. Note that the quotation marks are not included when calculating the length.

In [ ]:
print(len(w))

14

If you put a number in quotation marks, it has a string data type.

In [ ]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

If we have a string that is convertible to a `float`, we can use `float()`.

**This won't always work!** For instance, we can convert `"10.43430"` and `"3"` to floats, but we cannot convert `"Hello, Python!"` to a float.

In [ ]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

Just like you can add two numbers (floats or integers), you can also add two strings. It results in a longer string that combines the two original strings by concatenating them.

In [ ]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

Note that **it's not possible to do subtraction or division with two strings**. **You also can't multiply two strings**, but **you can multiply a string by an integer**. This again results in a string that's just the original string concatenated with itself a specified number of times.

In [ ]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

Note that you cannot multiply a string by a float! Trying to do so will return an error.

In [ ]:
will_not_work = "abc" * 3.0

TypeError: can't multiply sequence by non-int of type 'float'

#Exercise: Data type

## Question - 1 : Convert a float to integer and an integer to float

In [ ]:
n1 = 5.2
print(n1)
print(type(n1))

n2 = int(n1)
print(n2)
print(type(n2))

n2 = float(n2)
print(n2)
print(type(n2))

5.2
<class 'float'>
5
<class 'int'>
5.0
<class 'float'>

## Question - 2
Your goal is to determine what happens when you multiply a boolean by any of these data types. Specifically,

*   What happens when you multiply an integer or float by True? What happens when you multiply them by False? How does the answer change if the numbers are positive or negative?
*   What happens when you multiply a string by True? By False?

In [ ]:
print("3 * True")
n1 = 3 * True
print(n1)
print(type(n1))

print("3 * False")
n1 = 3 * False
print(n1)
print(type(n1))

print("-3.1 * True")
n2 = -3.1 * True
print(n2)
print(type(n2))

print("-3.1 * False")
n2 = -3.1 * False
print(n2)
print(type(n2))

s1 = "abc" * True
print(s1)
print(type(s1))

s2 = "abc" * False
print(s2)
print(type(s2))
print(len(s2))

3 * True
3
<class 'int'>
3 * False
0
<class 'int'>
-3.1 * True
-3.1
<class 'float'>
-3.1 * False
-0.0
<class 'float'>
abc
<class 'str'>

<class 'str'>
0

# Question 3

In this question, you will build off your work from the previous exercise to write a function that estimates the value of a house.

Use the next code cell to create a function `get_expected_cost` that takes as input three variables:
- `beds` - number of bedrooms (data type float)
- `baths` - number of bathrooms (data type float)
- `has_basement` - whether or not the house has a basement (data type boolean)

It should return the expected cost of a house with those characteristics. Assume that:
- the expected cost for a house with 0 bedrooms and 0 bathrooms, and no basement is 80000,
- each bedroom adds 30000 to the expected cost,
- each bathroom adds 10000 to the expected cost, and
- a basement adds 40000 to the expected cost.

For instance,
- a house with 1 bedroom, 1 bathroom, and no basement has an expected cost of 80000 + 30000 + 10000 = 120000.  This value will be calculated with `get_expected_cost(1, 1, False)`.
- a house with 2 bedrooms, 1 bathroom, and a basement has an expected cost of 80000 + 2*30000 + 10000 + 40000 = 190000.  This value will be calculated with `get_expected_cost(2, 1, True)`.

Remember you can always get a hint by uncommenting `q3.hint()` in the code cell following the next!

In [ ]:
# TODO: Complete the function
def get_expected_cost(beds, baths, has_basement):
    # value =
    return value

# Question 4

We'll continue our study of boolean arithmetic.  For this question, your task is to provide a description of what happpens when you add booleans.

Use the next code cell for your investigation.  Feel free to add or remove any lines of code - use it as your workspace!

In [ ]:
print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

0
1
1
2
3

# Question 5

You own an online shop where you sell rings with custom engravings.  You offer both gold plated and solid gold rings.
- Gold plated rings have a base cost of \\$50, and you charge \\$7 per engraved unit.  
- Solid gold rings have a base cost of \\$100, and you charge \\$10 per engraved unit.
- Spaces and punctuation are counted as engraved units.

Write a function `cost_of_project()` that takes two arguments:
- `engraving` - a Python string with the text of the engraving
- `solid_gold` - a Boolean that indicates whether the ring is solid gold

It should return the cost of the project.  This question should be fairly challenging, and you may need a hint.

In [ ]:
def cost_of_project(engraving, solid_gold):
    # cost =
    return cost

Run the next code cell to calculate the cost of engraving `M+P` on a solid gold ring.

In [ ]:
project_one = cost_of_project()
print(project_one)