# Relational Operators

In programming, **conditions** are statements that are either `True` or `False`. There are many different ways to write conditions in Python, but some of the most common ways of writing conditions just compare two different values. For instance, you can check if 2 is greater than 3.

In [ ]:
print(2 > 3)

False

## Common Relational Operators

<table>
  <tr>
    <td>Symbol</td>
    <td>Meaning</td>
  </tr>

  <tr>
    <td><</td>
    <td>less than</td>
  </tr>
  <tr>
    <td>></td>
    <td>greater than</td>
  </tr>
  <tr>
    <td><=</td>
    <td>less than or equal to</td>
  </tr>
  <tr>
    <td>>=</td>
    <td>greater than or equal to</td>
  </tr>
  <tr>
    <td>==</td>
    <td>equals</td>
  </tr>
  <tr>
    <td>!=</td>
    <td>not equal</td>
  </tr>
</table>

In [ ]:
var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

False
True

**Important Note:** <br />
When you check two values are equal, make sure you use the `==` sign, and not the `=` sign.

`var_one==1` checks if the value of `var_one` is `1`, but
`var_one=1` sets the value of `var_one` to `1`.

# Conditional Statements

So far, we've seen code run from top to bottom. But this does not always happen in real scenarios. Sometimes, you need to execute a block of code if it satisfies a condition else you need another block of code to run.

If we run the below code, the statement will execute. However, this is not what we want. We want only if you got `80 or above`

In [ ]:
print("You've got A+")
print("You've got A")

You've got A+
You've got A

In [ ]:
marks = 80

if marks >= 80:
    print("You've got A+")

You've got A+

So we can print a statement if it satisfies a condition. But what if it doesn't satisfy the condition? Can something else execute?

In [ ]:
marks = 78

if marks >= 80:
    print("You've got A+")
else:
    print("You've got A")

You've got A

So far, we've seen a block of code will execute if it satisfies a condition and another block of code will execute if it doesn't satisfy. But what if we've multiple conditions?

In [ ]:
marks = 78

if marks >= 80:
    print("You've got A+")
elif marks >= 75:
    print("You've got A")
else:
    print("You've got F")

You've got A

## Question-1:

We can use as many `elif` as we want. So we can add multiple conditions. Now write a program to print the grade as follows. <br />

<table>
<tr>
  <td>Marks</td>
  <td>Grade</td>
</tr>

<tr>
  <td>80 - 100</td>
  <td>A+</td>
</tr>
<tr>
  <td>75 - 79</td>
  <td>A</td>
</tr>
<tr>
  <td>70 - 74</td>
  <td>A-</td>
</tr>
<tr>
  <td>65 - 69</td>
  <td>B+</td>
</tr>
<tr>
  <td>60 - 64</td>
  <td>B</td>
</tr>
<tr>
  <td>55 - 59</td>
  <td>B-</td>
</tr>
<tr>
  <td>50 - 54</td>
  <td>C+</td>
</tr>
<tr>
  <td>45 - 49</td>
  <td>C</td>
</tr>
<tr>
  <td>40 - 44</td>
  <td>D</td>
</tr>
<tr>
  <td><40</td>
  <td>F</td>
</tr>
</table>

## Question-2

In this exercise, you will write a function to help a jewelry shop to calculate the cost of a project.  The online shop has the following price structure:
- Gold plated rings have a base cost of \$50, and you charge \$7 per engraved unit.  
- Solid gold rings have a base cost of \$100, and you charge \$10 per engraved unit.
- Spaces and punctuation are counted as engraved units.

Your function `cost_of_project()` takes two arguments:
- `engraving` - a Python string with the text of the engraving
- `solid_gold` - a Boolean that indicates whether the ring is solid gold

It should return the cost of the project.  

The function has been partially completed for you, and you need to fill in the blanks to complete the function.

In [ ]:
def cost_of_project(engraving, solid_gold):
    if solid_gold == True:
        cost =
    else:
        cost =
    return cost

In [ ]:
option1 = cost_of_project("Nayeem", False)
option2 = cost_of_project("Mariam", True)

print(f"Option 1: {option1}")
print(f"Option 2: {option2}")

Option 1: 85
Option 2: 160

## Question 3

You are a programmer at a water agency.  Recently, you have been tasked to write a function `get_water_bill()` that takes as input:
- `num_gallons` = the number of gallons of water that a customer used that month.  (This will always be an integer with no decimal part.)

It should output the water bill.  

The water agency uses this pricing structure:
<table style="width: 100%;">
<tbody>
<tr><th><b>Tier</b></th><th><b>Amount in gallons</b></th><th><b>Price per 1000 gallons</b></th></tr>
<tr>
<td>Tier 1</td>
<td>0 - 8,000</td>
<td>$5</td>
</tr>
<tr>
<td>Tier 2</td>
<td>8,001 - 22,000</td>
<td>\$6</td>
</tr>
<tr>
<td>Tier 3</td>
<td>22,001 - 30,000</td>
<td>\$7</td>
</tr>
<tr>
<td>Tier 4</td>
<td>30,001+</td>
<td>\$10</td>
</tr>
</tbody>
</table>

For example:
- Someone who uses 10,000 gallons of water in a month is placed in Tier 2, and needs to pay a water bill of \$6 * 10 = \$60.  In other words, `get_water_bill(10000)` should return `60.0`.
- Someone who uses 25,000 gallons of water in a month is placed in Tier 3, and needs to pay a water bill of \$7 * 25 = \$175.  In other words, `get_water_bill(25000)` should return `175.0`.

**Do not round your answer.**  So, your answer might return fractions of a penny.

In [ ]:
def get_water_bill(num_gallons):
    bill = 1000
    return bill

## Question 4

You work for a company that provides data services.  For \$100/month, your company provides 15 gigabytes (GB) of data.  Then, any additional data is billed at \$0.10/MB (or \$100/GB, since 1,000 MB are in 1 GB).

Use the next code cell to write a function `get_phone_bill()` that takes as input:
- `gb` = number of GB that the customer used in a month

It should return the customer's total phone bill.

For instance:
- A customer who uses 10 GB of data in one month is billed only \$100, since the usage stayed under 15 GB.  In other words, `get_phone_bill(10)` should return `100`.
- A customer who uses 15.1 GB (or 15 GB + 100 MB) of data in one month has gone over by .1 GB, so they must pay \$100 (cost of plan), plus \$0.10 * 100 = \$10, for a total bill of \$110.  In other words, `get_phone_bill(15.1)` should return `110`.

Do not round your answer.

# List

## Introduction
When doing data science, you need a way to organize your data so you can work with it efficiently. Python has many data structures available for holding your data, such as lists, sets, dictionaries, and tuples. In this tutorial, you will learn how to work with Python lists.

In [ ]:
students = "Sabrina, Samiha, Tonoy, Mariam"

print(students)

Sabrina, Samiha, Tonoy, Mariam

But here, all the student's names are printed all at once, which I don't want.

In [2]:
students_list = ["Sabrina", "Samiha", "Tonoy", "Mariam"]

print(students_list)

['Sabrina', 'Samiha', 'Tonoy', 'Mariam']

This is kind of the same, but now I have more control over them.

In [3]:
print(type(students_list))
print(len(students_list))

<class 'list'>
4

## Indexing

We can refer to any item in the list according to its position in the list (first, second, third, etc). This is called **indexing**.

Note that Python uses zero-based indexing, which means that:

- to pull the first entry in the list, you use 0,
- to pull the second entry in the list, you use 1, and
- to pull the final entry in the list, you use one less than the length of the list.

In [6]:
print("First entry:", students_list[0])
print("Second entry:", students_list[1])

print("Last entry:", students_list[-1])
print("Last entry:", students_list[-2])

First entry: Sabrina
Second entry: Samiha
Last entry: Mariam
Last entry: Tonoy

## Slicing
You can also pull a segment of a list (for instance, the first three entries or the last two entries). This is called slicing. For instance:

- to pull the first x entries, you use [:x], and
- to pull the last y entries, you use [-y:].

In [14]:
students_list = ["Sabrina", "Samiha", "Tonoy", "Mariam"]

print("First two entries:", students_list[:2])
print(students_list[1:3])
print("", students_list[-3:-1])

First two entries: ['Sabrina', 'Samiha']
['Samiha', 'Tonoy']
 ['Samiha', 'Tonoy']

## Removing Item
Remove an item from a list with `remove()`, and put the item you would like to remove in parentheses.

In [17]:
students_list = ["Sabrina", "Samiha", "Tonoy", "Mariam"]

students_list.remove("Sabrina")
print(students_list)

['Samiha', 'Tonoy', 'Mariam']

## Adding Item
Add an item to a list with `append()`, and put the item you would like to add in parentheses.

In [18]:
students_list.append("Sabrina")
print(students_list)

['Samiha', 'Tonoy', 'Mariam', 'Sabrina']

## Lists are not only for Strings
So far, we have only worked with lists where each item in the list is a string. But lists can have items with any data type, including booleans, integers, and floats.

As an example, consider hardcover book sales in the first week of April 2000 in a retail store.

In [19]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])

Length of the list: 7
Entry at index 2: 172

You can also get the minimum with `min()` and the maximum with `max()`.

In [ ]:
print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))

Minimum: 128
Maximum: 191

To add every item in the list, use `sum()`.

In [ ]:
print("Total books sold in one week:", sum(hardcover_sales))

Total books sold in one week: 1107

We can find the average number of books sold by the following code:

In [ ]:
avg_books_sold = sum(hardcover_sales) / len(hardcover_sales)
print("Average books sold in one week:", avg_books_sold)

Average books sold in one week: 158.14285714285714

# Exercise: List

## Question-1:
You own a restaurant with five food dishes, organized in the Python list menu below. One day, you decide to:

remove bean soup `bean soup` from the menu, and
add roasted beet salad `roasted beet salad` to the menu.
Implement this change to the list below. While completing this task,

do not change the line that creates the menu list.
your answer should use `.remove()` and `.append()`.

In [ ]:
menu = ['stewed meat with onions', 'bean soup', 'risotto with trout and shrimp',
       'fish soup with cream and onion', 'gyro']

# TODO: remove 'bean soup', and add 'roasted beet salad' to the end of the menu

print(menu)

['stewed meat with onions', 'bean soup', 'risotto with trout and shrimp', 'fish soup with cream and onion', 'gyro']

## Question 2

The list `num_customers` contains the number of customers who came into your restaurant every day over the last month (which lasted thirty days). Fill in values for each of the following:

- `avg_first_seven` - average number of customers who visited in the first seven days
- `avg_last_seven` - average number of customers who visited in the last seven days
- `max_month` - number of customers on the day that got the most customers in the last month
- `min_month` - number of customers on the day that got the least customers in the last month

In [ ]:
num_customers = [137, 147, 135, 128, 170, 174, 165, 146, 126, 159,
                 141, 148, 132, 147, 168, 153, 170, 161, 148, 152,
                 141, 151, 131, 149, 164, 163, 143, 143, 166, 171]

# TODO: Fill in values for the variables below
# avg_first_seven = ____
# avg_last_seven = ____
# max_month = ____
# min_month = ____

# print(avg_first_seven)
# print(avg_last_seven)
# print(max_month)
# print(min_month)

### Question 3
In the tutorial, we gave an example of a Python string with information that was better as a list.

In [9]:
students = "Sabrina, Samiha, Tonoy, Mariam"
my_list = students.split(",")

In [10]:
print(my_list)
print(type(my_list))
print(len(my_list))

['Sabrina', ' Samiha', ' Tonoy', ' Mariam']
<class 'list'>
4

Now it is your turn to try this out! Create two Python lists:

- `letters` should be a Python list where each entry is an uppercase letter of the English alphabet. For instance, the first two entries should be `"A"` and `"B"`, and the final two entries should be `"Y"` and `"Z"`. Use the string `alphabet` to create this list.
- `address` should be a Python list where each row in address is a different item in the list. Currently, each row in address is separated by a comma.

In [ ]:
alphabet = "A.B.C.D.E.F.G.H.I.J.K.L.M.N.O.P.Q.R.S.T.U.V.W.X.Y.Z"
address = "Mr. H. Potter,The cupboard under the Stairs,4 Privet Drive,Little Whinging,Surrey"

# TODO: Convert strings into Python lists
# letters = ____
# formatted_address = ____

# print(letters)
# print(formatted_address)

## Question 4
Say you're doing analytics for a website. You need to write a function that returns the percentage growth in the total number of users relative to a specified number of years ago.

Your function `percentage_growth()` should take two arguments as input:

- `num_users` = Python list with the total number of users each year. So `num_users[0]` is the total number of users in the first year, `num_users[1]` is the total number of users in the second year, and so on. The final entry in the list gives the total number of users in the most recently completed year.
- `yrs_ago` = number of years to go back in time when calculating the growth percentage

For instance, say `num_users = [920344, 1043553, 1204334, 1458996, 1503323, 1593432, 1623463, 1843064, 1930992, 2001078]`.

if `yrs_ago = 1`, we want the function to return a value of about `0.036`. This corresponds to a percentage growth of approximately `3.6%`, calculated as `(2001078 - 1930992)/1930992`.
if `years_ago = 7`, we would want to return approximately `0.66`. This corresponds to a percentage growth of approximately `66%`, calculated as `(2001078 - 1204334)/1204334`.

Your coworker sent you a draft of a function, but it doesn't seem to be doing the correct calculation. Can you figure out what has gone wrong and make the needed changes?

In [ ]:
# TODO: Edit the function
def percentage_growth(num_users, yrs_ago):
     growth = # Code your logic
    return growth

0.0
0.2807272117129434

In [ ]:
# Do not change: Variable for calculating some test examples
num_users_test = [920344, 1043553, 1204334, 1458996, 1503323, 1593432,
                  1623463, 1843064, 1930992, 2001078]

# Do not change: Should return .036
print(percentage_growth(num_users_test, 1))

# Do not change: Should return 0.66
print(percentage_growth(num_users_test, 7))